*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
.container{
    width: 150% !important;
}
.malumotIs{
    width: 250px;
    margin-left: 25px;
    text-align: center;
}
.titleIS{
   margin-left: 65px;
   
}
.imgIS{
    width: 50%;
}
.buttonIS{
    border: none;
    color: white;
    border-radius: 4px;
    background-color: rgb(54, 185, 54);
    padding: 13px;
    margin-left: 85px;
    margin-top: 10px;
}
.buttonIS:hover{
    background-color: rgb(25, 116, 25);
  
    border-radius: 5px;
}
.card{
    display: inline-block;
    width: 25%;
}
.cardBIr{
    margin-left: 30px;
}